.MuiDrawer-paper{
    background-color: #000;
    /* z-index: 9999999999999999999 !important; */
    color: #fff;
    margin-top: 115px;
}
.nav-item::before.active{
    width: 100%;
}
.nav-item.active{
    color: #fbbd61;
}